<!-- <div><%= @test_variable_1 %></div> -->
<!-- <div><%= @test_variable_2 %></div> -->
<!-- <div><%= @test_variable_3 %></div> -->
<!-- <div><%= @test_variable_4 %></div> -->
<!-- <div><%= @test_variable_5 %></div> -->
<!-- <div><%= @test_variable_6 %></div> -->

<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
}

form {
  display: block;
  margin-top: 2em;
}

svg {
  margin: 0 auto;
  max-width: 100%;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

</style>

<div class='data-wrapper'>
  <div class='controls-container'>
    <div id='size' data-slice='size' class='button violet scale'>Size</div>
    <div id='count' data-slice='count' class='button red scale'>Count</div>
    <div id='data1' data-data='data1' class='button violet data'>Data 1</div>
    <div id='data2' data-data='data2' class='button red data'>Data 2</div>
  </div>

  <div class='window'></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
<%= render 'welcome/sunburst.js' %>
</script>
