<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'penguin-head.png' %>
</head>
<body class="<%= body_class %>">
  <section class='header'>
  <div class='header-wrapper'>
    <%= link_to 'Ripples', root_path, class: 'logo' %>

    <div class='nav-links'>
      <%= link_to 'Results', results_path %>
      <%= link_to 'Explore', explore_path %>
      <%= link_to 'Methods', page_path('methods') %>
      <%= link_to 'About', page_path('about') %>
      <%= link_to 'Contribute', page_path('contribute') %>
    </div>
  </div>
  </section>

  <div class="wrapper">
    <%= render "flashes" -%>
    <%= yield %>
    <%= render "javascript" %>
  </div>

  <div class="footer">
    <p>© 2015. Ripples isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.  League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc.  League of Legends © Riot Games, Inc.</p>
  </div>
</body>
</html>
