<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <section class='header'>
  <div class='header-wrapper'>
    <%= link_to 'Ripples', root_path, class: 'logo' %>

    <div class='nav-links'>
      <%= link_to 'Results', root_path %>
      <%= link_to 'About', page_path('about') %>
      <%= link_to 'Contribute', page_path('contribute') %>
    </div>
  </div>
  </section>

  <div class="wrapper">
    <%= render "flashes" -%>
    <%= yield %>
    <%= render "javascript" %>
  </div>

  <div class="footer">
    Copyright 2015
  </div>
</body>
</html>
